@charset "UTF-8";
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
html {
  height: 100%; }

body {
  min-height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.header {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff; }

.container {
  width: 1140px;
  margin: 0 auto; }

.flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex__jc_start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.flex__jc_s-b {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flex__jc_center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.flex__jc_end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex__ai_start {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.flex__ai_center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.flex__ai_end {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.flex__fd_col {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex__wrap_wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.m0 {
  margin: 0; }

.text_center {
  text-align: center; }

.text_left {
  text-align: left; }

.color_pink, .forgot-password:hover {
  color: #f16d7f; }

.font_italic {
  font-style: italic; }

.caret-down::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-left: 8px; }

.arrow-right::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-left: 8px; }

.dollar::before {
  content: "$"; }

.header__panel_left,
.header__panel_right {
  position: relative; }

.logo {
  text-decoration: none;
  margin-right: 37px; }

.logo__img {
  margin-right: 13px; }

.logo__title {
  font-weight: 300;
  font-size: 27px;
  color: #222222; }

.logo__title_mark {
  font-weight: 400; }

.btn {
  border: none;
  cursor: pointer;
  outline: none; }

.btn__search {
  height: 38px;
  border: 1px solid #e6e6e6; }

.btn__search_browse {
  padding-left: 15px;
  padding-right: 8px;
  border-radius: 3px 0 0 3px;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  font-weight: 300; }
  .btn__search_browse:hover + .sub-menu {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.btn__search_submit {
  padding-right: 11px;
  padding-left: 11px;
  background-color: #ffffff;
  border-radius: 0 3px 3px 0;
  color: #a4a4a4; }

.btn__std {
  color: #ffffff;
  background-color: #f16d7f;
  border: 1px solid transparent;
  transition: all 0.3s; }
  .btn__std:hover {
    color: #f16d7f;
    background-color: #ffffff;
    border: 1px solid #f16d7f; }

.btn__std_inverse {
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  transition: all 0.3s; }
  .btn__std_inverse:hover {
    color: #ffffff;
    background-color: #f16d7f;
    border: 1px solid #ffffff; }

.btn__std_account {
  height: 38px;
  font-size: 15px;
  padding-left: 19px;
  padding-right: 12px;
  border-radius: 3px; }

.input {
  box-sizing: border-box; }

.input__search {
  width: 280px;
  height: 38px;
  margin-left: -4px;
  margin-right: -4px;
  border: 1px solid #e6e6e6;
  padding-left: 16px;
  padding-right: 16px;
  outline: none; }
  .input__search::placeholder {
    color: #a4a4a4;
    font-weight: 300; }

.browse_drop-down {
  top: 42px; }

.cart_drop-down {
  top: 42px;
  left: -14px; }

.cart {
  margin-right: 26px;
  position: relative;
  text-decoration: none; }
  .cart:hover + .sub-menu {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.cart_filled {
  width: 19px;
  height: 19px;
  position: absolute;
  border-radius: 9px;
  font-size: 12px;
  font-weight: 700;
  top: -6px;
  right: -8px;
  color: #ffffff;
  background-color: #f16d7f; }

.cart_w {
  margin-right: 6px; }

.navigation {
  background-color: #ffffff; }

.top-menu_wrap {
  position: relative; }

.top-menu {
  position: relative;
  height: 51px;
  margin: 0;
  list-style-type: none;
  padding: 0; }

.top-menu__item {
  position: relative; }
  .top-menu__item:hover > .sub-menu {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.top-menu__link {
  display: block;
  padding: 17px 22px;
  text-decoration: none;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase; }
  .top-menu__link:hover {
    color: #ef5b70; }

.top-menu__link_active {
  box-shadow: inset 0 -3px #ef5b70; }

.sub-menu {
  display: none;
  position: absolute;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px #ddd;
  z-index: 10; }
  .sub-menu:hover {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.sub-menu_1,
.sub-menu_2,
.sub-menu_3,
.sub-menu_4,
.sub-menu_5,
.sub-menu_6 {
  top: 45px; }

.sub-menu_1 {
  left: 0; }

.sub-menu_2 {
  left: -30px; }

.sub-menu_3 {
  left: -60px; }

.sub-menu_4 {
  right: -60px; }

.sub-menu_5 {
  right: -30px; }

.sub-menu_6 {
  right: 0; }

.menu__arrow_up {
  position: absolute;
  top: -8px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-width: 0;
  border-bottom-color: #e8e8e8;
  z-index: 99; }
  .menu__arrow_up::after {
    display: block;
    content: "";
    border: 7px solid transparent;
    border-top-width: 0;
    border-bottom-color: #fff;
    margin-left: -7px;
    margin-top: 2px; }

.browse_drop-down_arrow {
  left: 67px; }

.cart_arrow {
  left: 26px; }

.sub-menu_1 > .top-menu_arrow {
  left: 50px; }

.sub-menu_2 > .top-menu_arrow {
  left: 90px; }

.sub-menu_3 > .top-menu_arrow {
  left: 110px; }

.sub-menu_4 > .top-menu_arrow {
  right: 150px; }

.sub-menu_5 > .top-menu_arrow {
  right: 100px; }

.sub-menu_6 > .top-menu_arrow {
  right: 75px; }

.sub-menu__col {
  width: 255px;
  padding: 8px 0;
  margin-right: 26px; }
  .sub-menu__col:last-of-type {
    margin-right: 20px; }

.sub-menu_h3 {
  border-bottom: 1px solid #e8e8e8;
  color: #232323;
  text-transform: uppercase;
  margin: 0 0 0 20px;
  padding-top: 10px;
  padding-bottom: 6px; }

.sub-menu_ul {
  margin-bottom: 12px;
  margin-left: 20px;
  padding: 0;
  list-style-type: none; }

.sub-menu_li {
  margin-top: 14px; }

.sub-menu_link {
  text-decoration: none;
  color: #646464; }
  .sub-menu_link:hover {
    color: #ef5b70; }

.cart_drop-down_col {
  padding: 0 16px 15px;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%; }

.cart_drop-down_ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.cart_drop-down_li {
  padding: 16px 0;
  border-bottom: 1px solid #e8e8e8; }

.cart_drop-down_product_desc {
  margin: 0 14px;
  line-height: 21px; }

.cart_drop-down_title_link {
  display: inline-block;
  margin: 3px 0;
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none; }
  .cart_drop-down_title_link:hover {
    color: #ef5b70; }

.cart_drop-down_cancel {
  color: #c0c0c0;
  font-size: 16px;
  line-height: 85px;
  text-decoration: none; }
  .cart_drop-down_cancel::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: ""; }

.cart_drop-down_total {
  padding-top: 18px;
  padding-bottom: 23px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.cart_drop-down_btn {
  display: block;
  width: 225px;
  height: 50px;
  margin: 5px 0;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #4a4a4a;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #eaeaea; }
  .cart_drop-down_btn:hover {
    color: #f16d7f;
    border: 1px solid #f16d7f; }

.banner__super-sale {
  display: block;
  position: relative;
  margin-bottom: 12px; }

.banner__super-sale_text {
  position: absolute;
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  right: 10px;
  bottom: 12px; }

.promo {
  background-color: #e8e8e8;
  margin-bottom: 100px; }

.promo__bg {
  height: 613px;
  background: url("../img/promo.jpg") 37px -51px no-repeat; }

.promo__text {
  font-size: 40px;
  font-weight: 900;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
  letter-spacing: 1px;
  line-height: 33px; }

.promo__text_h3 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 1.5px;
  line-height: 41px;
  margin-top: 0;
  margin-bottom: 18px; }

.breadcrumbs_box {
  height: 148px;
  background-color: #f8f3f4; }

.breadcrumbs_h3 {
  font-size: 24px;
  text-transform: uppercase; }

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 700; }

.breadcrumbs__link {
  color: #636363;
  text-decoration: none; }
  .breadcrumbs__link:hover {
    color: #ef5b70; }

.checkout-info {
  margin-top: 85px;
  margin-bottom: 90px; }

.checkout_box {
  padding-left: 0;
  margin: 0;
  list-style-type: none; }

.checkout_box_item {
  border-bottom: 1px solid #e8e8e8;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  position: relative; }

.checkout_box_link {
  display: block;
  text-decoration: none;
  color: #222222;
  text-transform: uppercase;
  padding-top: 32px;
  padding-bottom: 32px; }

.checkout_box_open {
  margin: -8px 0 79px 35px;
  color: #b3b2b2;
  font-size: 13px; }

.col-1-2 {
  width: 50%; }

.checkout_h3 {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
  margin: 15px 0; }

.checkout_h4 {
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px; }

.checkbox-block, .checkout_par {
  padding: 13px 0; }

.checkout_checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px; }

.checkout_checkbox_text {
  position: relative;
  padding: 0 0 0 28px;
  cursor: pointer;
  line-height: 12px; }

.checkout_checkbox_text:before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #555555;
  border-radius: 50%;
  background: #FFF; }

.checkout_checkbox_text:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 8px;
  height: 8px;
  background: #222;
  border-radius: 50%;
  opacity: 0; }

.checkout_checkbox:checked + .checkout_checkbox_text:after {
  opacity: 1; }

.checkout_par {
  line-height: 2em; }

.checkout_required {
  color: #ff0d0d;
  padding-top: 15px;
  padding-bottom: 32px; }

.required_before:after {
  color: #ff0d0d;
  content: " *"; }

.checkout_form-label {
  padding-top: 4px;
  display: block; }

.checkout_input-text {
  display: block;
  width: 390px;
  height: 45px;
  line-height: 45px;
  box-sizing: border-box;
  padding: 0 10px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-bottom: 7px; }

.btn__gray {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: all 0.3s; }
  .btn__gray:hover {
    color: #f16d7f;
    border: 1px solid #f16d7f; }

.btn__gray_checkout {
  width: 180px;
  height: 50px; }

.forgot-password {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  margin-left: 32px;
  text-decoration: none; }

.product-slider {
  background: #f7f7f7;
  height: 777px; }

.product-slider-left,
.product-slider-right {
  display: block;
  width: 47px;
  height: 47px;
  text-align: center;
  line-height: 47px;
  font-size: 24px;
  color: #ffffff;
  background: rgba(42, 42, 42, 0.15);
  transition: background 0.3s linear; }
  .product-slider-left:hover,
  .product-slider-right:hover {
    background: rgba(42, 42, 42, 0.5);
    transition: background 0.3s linear; }

.product-slider-img {
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.35, 0, 1, 1);
  -moz-transition-timing-function: cubic-bezier(0.35, 0, 1, 1);
  -o-transition-timing-function: cubic-bezier(0.35, 0, 1, 1);
  transition-timing-function: cubic-bezier(0.35, 0, 1, 1); }
  .product-slider-img:hover {
    transform: scale(1.2); }

.product-description {
  margin-top: -80px;
  background: #ffffff;
  padding-top: 65px;
  padding-bottom: 120px;
  text-align: center;
  border: 1px solid #eaeaea; }

.collection_title {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea; }

.title_separator {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
  margin: 12px auto -17px auto; }

.catalog {
  padding-top: 60px;
  padding-bottom: 110px; }

.sidebar {
  width: 22.9%;
  padding-right: 15px; }

.catalog_main {
  width: 74.3%; }

.category {
  margin-bottom: 84px; }

.sidebar__drop-down_block {
  margin-bottom: 18px; }

.sidebar__drop-down_block_h3 {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 12px 11px 15px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #ef5b70;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e; }
  .sidebar__drop-down_block_h3::after {
    position: absolute;
    right: 6px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
    transition: transform 0.2s linear; }
  .sidebar__drop-down_block_h3:hover {
    color: #ef5b70; }
    .sidebar__drop-down_block_h3:hover + .sidebar__drop-down_block_ul {
      display: block; }
  .sidebar__drop-down_block_h3:hover::after {
    transform: rotate(180deg);
    transition: transform 0.2s linear; }

.sidebar__drop-down_block_ul {
  display: none;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 17px;
  list-style-type: none; }
  .sidebar__drop-down_block_ul:hover {
    display: block; }

.sidebar__drop-down_block_li {
  line-height: 2.5em; }

.sidebar__drop-down_block_link {
  display: block;
  text-decoration: none;
  color: #6f6e6e; }
  .sidebar__drop-down_block_link:hover {
    color: #ef5b70; }

.filter_box {
  max-width: 31%;
  flex: 0 0 31%; }

.filter_box_h3 {
  color: #6f6e6e;
  font-weight: 700;
  text-transform: uppercase; }

.filter_trending {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #dfdfdf; }

.filter_trending_item {
  line-height: 1.5em; }

.trend_row_divider {
  width: 100%; }

.filter_trending_link {
  text-decoration: none;
  color: #6f6e6e; }
  .filter_trending_link:hover {
    color: #ef5b70; }

.filter_checkbox {
  width: 25%;
  line-height: 1.5em; }

.filter_checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.filter_checkbox_text {
  display: block;
  position: relative;
  cursor: pointer;
  color: #6f6e6e;
  padding-left: 20px; }
  .filter_checkbox_text::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #ebebeb; }

.filter_checkbox input:checked + .filter_checkbox_text::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  line-height: 12px; }

.price_range {
  -webkit-appearance: none;
  width: 100%;
  background: transparent; }
  .price_range:focus {
    outline: none; }
  .price_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #f16d7f;
    margin-top: -4px; }
  .price_range::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #f0f0f0; }
  .price_range::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #f16d7f; }
  .price_range::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #f0f0f0; }
  .price_range::-ms-thumb {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #f16d7f; }
  .price_range::-ms-track {
    width: 100%;
    cursor: pointer;
    background: f0f0f0; }

output[name=priceShow] {
  line-height: 2.5em;
  color: #6f6e6e; }

.catalog_sort {
  margin-top: 35px;
  background-color: #f3f3f3;
  width: 100%;
  height: 50px; }
  .catalog_sort > div {
    margin-left: 10px; }

.sort_box {
  position: relative;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 30px;
  color: #6f6e6e;
  border: 1px solid #ebebeb;
  background-color: #ffffff; }

.sort_title {
  display: inline-block; }

.sort_value {
  margin-left: -1px; }
  .sort_value:hover .sort_list {
    display: block; }

.sort_list {
  display: none;
  width: 100%;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 30px;
  left: -1px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  z-index: 10; }

.sort_drop:after {
  margin-left: 20px; }

.sort_link {
  padding: 3px 10px;
  color: #6f6e6e;
  text-decoration: none; }
  .sort_link:hover {
    color: #ef5b70; }

.banner {
  display: block;
  width: 560px;
  margin-bottom: 20px;
  position: relative;
  text-decoration: none;
  color: #222222; }

.banner_big {
  height: 542px; }

.banner_small {
  height: 261px; }

.banner:last-child {
  margin-bottom: 0; }

.banner__for-men {
  background: url("../img/banner_formen.jpg"); }

.banner__accesories {
  background: url("../img/banner_accesories.jpg") top right no-repeat #dadad2; }

.banner__women {
  background: url("../img/banner_women.jpg"); }

.banner__for-kids {
  background: url("../img/banner_forkids.jpg"); }

.badge {
  position: absolute;
  top: 26px;
  left: 0;
  background-color: #ffffff;
  padding: 16px 18px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.45px;
  line-height: 18px; }

.badge__h3 {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.75px; }

.catalog_view {
  padding-top: 10px; }

.products {
  margin-bottom: 90px; }

.products__row {
  margin: 20px 0;
  text-align: center; }

.products__h3 {
  margin: 16px 0;
  font-size: 30px;
  font-weight: 700; }

.products__text {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0; }

.btn__std_product {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 18px 19px 18px 24px;
  text-decoration: none; }

.product_title {
  color: #4d4d4d;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px; }

.description {
  color: #5e5e5e;
  margin-top: 65px;
  margin-bottom: 25px;
  line-height: 2em; }

.product_attr {
  color: #2f2f2f;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 28px; }

.product_attr_hl {
  color: #b9b9b9; }

.product_attr_price {
  margin-top: 32px;
  margin-bottom: 100px;
  font-size: 24px; }

.pulsate {
  -webkit-animation: pulsate 0.5s ease-in-out infinite both;
  animation: pulsate 0.5s ease-in-out infinite both; }

.product_attr_box {
  width: 144px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  color: #bcbcbc;
  font-size: 13px;
  margin-top: 15px;
  padding: 11px 9px 11px 14px;
  cursor: pointer;
  outline: none; }
  .product_attr_box:hover + .attr_choose_box {
    display: block; }

.attr_choose_box {
  display: none;
  position: absolute;
  width: 144px;
  margin: 0;
  padding: 0;
  top: 68px;
  left: 15px;
  list-style-type: none;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  background: #ffffff;
  z-index: 10; }
  .attr_choose_box:hover {
    display: block; }

.attr_choose_link {
  display: block;
  padding: 9px 9px 9px 14px;
  color: #bcbcbc;
  font-size: 13px;
  text-decoration: none; }
  .attr_choose_link:hover {
    color: #ef5b70; }

.attr_choose_item {
  border-bottom: 1px solid #eaeaea; }
  .attr_choose_item:last-of-type {
    border-bottom: none; }

.attr_color_red::before,
.attr_color_green::before,
.attr_color_cyan::before,
.attr_color_yellow::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 9px; }

.attr_color_red::before {
  background: #ef5b70; }

.attr_color_green::before {
  background: darkgreen; }

.attr_color_cyan::before {
  background: cyan; }

.attr_color_yellow::before {
  background: yellow; }

.btn_choice_submit {
  padding-top: 13px;
  padding-bottom: 13px; }
  .btn_choice_submit:hover > .cart_r::before {
    background: url("../img/cart_r_inv.svg") no-repeat; }

.cart_r {
  font-size: 16px;
  font-weight: 700; }
  .cart_r::before {
    display: inline-block;
    width: 26px;
    height: 24px;
    margin-right: 10px;
    content: "";
    background: url("../img/cart_r.svg") no-repeat;
    transition: background-image 0.3s; }

.you-may-like-also {
  margin-bottom: 70px; }
  .you-may-like-also > h3 {
    color: #4d4d4d;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px; }

.rotate:hover {
  -webkit-animation: rotate 0.4s ease-in-out both;
  animation: rotate 0.4s ease-in-out both; }

.product__item {
  width: 263px;
  height: 364px;
  position: relative;
  margin: 20px 0; }
  .product__item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); }
    .product__item:hover .product__add,
    .product__item:hover .product__retweet,
    .product__item:hover .product__like {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      .product__item:hover .product__add:hover,
      .product__item:hover .product__retweet:hover,
      .product__item:hover .product__like:hover {
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5); }
    .product__item:hover .product__img {
      filter: brightness(0.5);
      transition: filter 0.1s linear; }

.product__add {
  display: none;
  position: absolute;
  top: 97px;
  left: 70px;
  width: 123px;
  height: 39px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  z-index: 100; }

.product__retweet,
.product__like {
  display: none;
  position: absolute;
  width: 57px;
  height: 39px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  z-index: 100; }

.product__retweet {
  top: 144px;
  left: 70px; }

.product__like {
  top: 144px;
  left: 136px; }

.product__img {
  display: block;
  width: 263px;
  height: 280px;
  transition: filter 0.2s linear; }

.product__desc {
  text-align: left;
  padding: 19px 15px;
  text-transform: uppercase; }
  .product__desc:hover .product__rating {
    display: block;
    width: 70px;
    height: 14px; }

.product__desc_link {
  text-decoration: none;
  color: #222222; }
  .product__desc_link:hover {
    color: #ef5b70; }

.product__desc_h3 {
  margin-top: 0;
  font-size: 13px;
  font-weight: 400; }

.product__price {
  font-size: 16px;
  font-weight: 700; }

.product__rating {
  display: none; }

.pagination {
  margin: 0;
  padding: 0 8px;
  list-style-type: none;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  border-radius: 3px; }

.pagination_link,
.pagination_link_disabled {
  display: block;
  padding: 12px 7px;
  text-decoration: none;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 600; }

.pagination_link:hover {
  color: #ef5b70; }

.pagination_link_disabled {
  color: #aaaaaa; }

.pagination_link_active {
  color: #ef5b70; }

.catalog_view-all {
  padding: 12px 44px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  box-sizing: border-box;
  text-decoration: none; }

.feature {
  margin-bottom: 95px; }

.feature_bg {
  background-color: #222224; }

.feature_horiz {
  padding: 70px 0; }

.feature__banner {
  position: relative;
  -webkit-box: 0;
  -moz-box: 0;
  -webkit-flex: 0 0 767px;
  -ms-flex: 0 0 767px;
  flex: 0 0 767px;
  height: 529px;
  background: url("../img/feature_banner_gradient.png"), url("../img/feature_banner.jpg"); }

.feature__banner_text {
  position: absolute;
  top: 150px;
  left: 43px;
  font-size: 32px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  line-height: 32px; }

.feature__banner_text_h3 {
  font-size: 54px;
  letter-spacing: 1.5px;
  margin: 0 0 18px; }

.feature__box {
  margin: 20px 0; }

.feature__box_img {
  width: 30%;
  height: 60px; }

.feature__box_desc {
  width: 69%;
  color: #fbfbfb;
  font-weight: 300;
  padding-right: 40px;
  line-height: 1.75em; }

.feature__box_desc_horiz {
  width: 80%;
  color: #fbfbfb;
  font-weight: 300;
  line-height: 1.75em; }

.feature__box_desc_h3 {
  margin: 8px 0 16px 3px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1em; }

.subscribe {
  width: 100%;
  background: url("../img/subscribe_bg_gradient.png") no-repeat, url("../img/subscribe_bg.jpg") bottom no-repeat;
  background-size: cover;
  margin-bottom: 100px; }

.subscribe_panel {
  -webkit-box: 0;
  -moz-box: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  height: 438px; }

.reviews {
  border-right: 1px solid #fff; }

.reviews__avatar {
  margin-right: 28px; }

.reviews__box {
  padding-right: 70px; }

.reviews__msg {
  font-size: 16px;
  line-height: 1.75em; }

.reviews__msg_h3 {
  margin-top: 15px;
  margin-bottom: -7px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1em; }

.reviews__msg_from {
  font-size: 12px;
  font-weight: 300;
  line-height: 1em; }

.reviews__toggle {
  margin: 40px 0 50px 0; }

.reviews__btn {
  display: block;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  margin-right: 13px; }

.reviews__btn_active {
  background-color: #f16d7f; }

.subscribe__form {
  text-align: center;
  font-weight: 600; }

.subscribe__form_h3 {
  margin: 0 0 7px;
  font-size: 24px; }

.subscribe__input {
  margin-top: 30px;
  margin-right: -4px;
  width: 282px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  padding: 18px 28px;
  border: none;
  outline: none; }
  .subscribe__input::placeholder {
    opacity: 0.67; }

.btn__subscribe {
  padding: 17px 20px;
  border-radius: 0 23px 23px 0; }

.footer {
  margin-top: 60px;
  height: 79px;
  background-color: #e6e6e6; }

.footer__desc {
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-right: 20px; }

.footer__menu {
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.footer__menu_col {
  margin: 0 40px 0 70px; }

.footer__menu_h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 14px 0 0; }

.footer__menu_ul {
  margin: 45px 0 0;
  padding: 0;
  list-style-type: none; }

.footer__menu_li {
  margin: 30px 0; }

.footer__menu_item {
  text-decoration: none;
  color: #898989;
  font-size: 16px; }
  .footer__menu_item:hover {
    color: #ef5b70; }

.footer__desc_p {
  margin-top: 30px;
  color: #898989;
  font-weight: 300;
  line-height: 2em; }

.copy {
  color: #7a7a7a;
  font-size: 16px; }

.socials__btn {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  color: #b2b2b2;
  font-size: 16px;
  line-height: 32px;
  margin-left: 8px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s; }

a.socials__btn:hover {
  color: #f7f7f8;
  background-color: #f16d7f; }

.socials__btn_disabled {
  background-color: #eeeeee; }

/*# sourceMappingURL=brand-st.css.map */
